body, html {
  background-color: #e8e8e8;
}

h6 {
  font-weight: bold;
  opacity: .8;
}

.container {
  padding: 20px
}

.clear:before,
.clear:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}
.clear:before,
.clear:after {
  clear: both;
}