.note p {
  white-space: pre-wrap;
}

.tag-list {
  padding-top: 4px;
}


/* MASONRY */
.masonry[data-columns]::before {
	content: '2 .column.size-1of2';
  width: 20px;
}

.column { 
  float: left; 
}

.size-1of2 { 
  width: 48%; 
  margin-right: 2%;
}

.card-body {
  word-break: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 12;
}

.card .card-content {
  padding-top: 8px;
  padding-bottom: 8px;
}

.chip {
  border-radius: 5px;
}