<link rel="stylesheet" href="../css/note-list.css">

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper red darken-1">
      <a href="#" class="brand-logo center">My Notes</a>
      <ul id="nav-mobile" class="right">
        <li><a href="#" id="folder-btn"><i class="large material-icons">folder_open</i></a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  <h6>Pinned</h6>
  <div id="note-list-pinned" class="masonry clear" data-columns></div>

  <h6>Other</h6>
  <div id="note-list-unpinned" class="masonry clear" data-columns></div>

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light blue darken-1" id="create-note-btn">
      <i class="large material-icons">add</i>
    </a>
  </div>
</div>

<!--Templates-->
<script id="note-template" type="text/x-handlebars-template">
  <div class="masonry-item">
    <div class="card horizontal note">
      <div class="card-stacked">
        <div class="card-content">
          <div class="card-body">
            <h4>{{ title }}</h4>
            <p>{{ body }}</p>
          </div>
          <div class="tag-list">
            {{# each tags }}
            <div class="chip">
              {{ this }}
            </div>
            {{/ each }}
          </div>
        </div>
        <div class="card-action">
          <a href="#" data-path="{{ path }}" onclick="onNoteEditClick(this)">Edit</a>
        </div>
      </div>
    </div>
  </div>
</script>