<link rel="stylesheet" href="../css/note.css">

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper red darken-1">
      <ul id="nav-mobile" class="left">
        <li><a href="#" id="back-btn"><i class="large material-icons">arrow_back</i></a></li>
      </ul>
      <ul id="nav-mobile" class="right">
        <li><a href="#" id="delete-btn"><i class="large material-icons">delete</i></a></li>
        <li><a href="#" id="pin-btn"><i class="large material-icons" id="pin-icon">star</i></a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  <div class="card horizontal">
    <div class="card-stacked">
      <div class="card-content">
        <input type="text" placeholder="Title" id="title"></input>
        <textarea placeholder="Note" id="body"></textarea>
      </div>
    </div>
  </div>
</div>
